<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobProvider Dashboard</title>
</head>
<body>
    <h1>hello world</h1>
    <form method="GET" action="/api/providers/new">
        <button>Create</button>
    </form>
    <% for(let route of routes)  {%>
        <li><a href="/api/providers/<%= route._id %>"><%= route.name %></a> <br>
      </li>
    <% } %>
</body>
</html>