<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show </title>
</head>
<body>
    <h3>detailes</h3>
    <ul>
        <li><%= routes.name %></li>
        <li><%= routes.contactEmail %></li>
        <li><%= routes.contactPhone %></li>
        
    </ul>
</body>
</html>