<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JobProvider Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <h1>Job Providers</h1>
    <form method="GET" action="/api/providers/new">
        <button>Create</button>
    </form>
    <br><br>
    <br><br>
    <div class="dashboard-container">
        <% for(let route of routes) { %>
            <div class="provider-card">
                <a href="/api/providers/<%= route._id %>"><%= route.name %></a>
                <p>Click to view details</p>
            </div>
        <% } %>
    </div>
</body>
</html>
