<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seeker Dashboard</title>
</head>
<body>
    <h1>Job Seekers</h1>

    <div class="dashboard-container">
        <% for(let route of routes) { %>
            <div class="seeker-card">
                <a href="/api/seekers/<%= route._id %>"><%= route.name %></a>
                <form method="GET" action="/api/seekers/applynew">
                    <button>Apply</button>
                </form>
            </div>
        <% } %>
    </div>
</body>
</html>